:root {
  --maincoloreff: #2196f3;
  --maincolorblack: #212121;
  --maincolorsilver: #757575;
  --maincolorwhite: #ffffff;
  --maincolorbtteam: #f5f4fa;
  --maincolorherofooter: #2f303a;
  --borderheadercolor: #ececec;
  --borderportfoliocolor: #eeeeee;
  --clientsbordercolor: #afb1b8;
  --socialfootercolor: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --trainsition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
